{% extends "layout.html" %}

{% block title %}
    Contact Us
{% endblock %}

{% block main %}
<section class="bg-white dark:bg-gray-900 flex-grow flex items-center justify-center min-h-screen">
    <div class="text-center">
        <h1 class="text-4xl font-extrabold leading-none tracking-tight md:text-6xl xl:text-7xl dark:text-white mb-8">Contact Us</h1>
        <p class="text-gray-500 dark:text-gray-400 mb-4">Get in touch with our school for any inquiries or support.</p>
    </div>
</section>
{% endblock %}
