{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<section class="bg-white dark:bg-gray-900 flex-grow flex items-center justify-center min-h-screen">
    <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12 items-center">
        <div class="mr-auto place-self-center lg:col-span-7">
            {% if session['user_type'] == 'teacher' %}
                <h1 class="max-w-2xl mb-4 text-3xlxl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white">Welcome, {{ session['user_name'] }}!</h1>
                <p class="max-w-2xl mb-6 text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Here you can manage your lessons and interact with your students.</p>
            {% elif session['user_type'] == 'student' %}
                <h1 class="max-w-2xl mb-4 text-3xlxl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white">Welcome, {{ session['user_name'] }}!</h1>
                <p class="max-w-2xl mb-6 text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Here you can access your lessons and interact with your teachers.</p>
            {% else %}
                <h1 class="max-w-2xl mb-4 text-3xlxl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white">Fluent Futures Begin Here</h1>
                <p class="max-w-2xl mb-6 text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Everyone has unique challenges and motivations when it comes to studying English.  It's a global language: Speak English, Expand Your World!   We'll support your journey 24/7 with personalized lessons and a chatbot to help you retain knowledge and unlock your English potential!</p>
                <a href="/student/login" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-900">
                    Enter Student Portal
                </a>
                <a href="/teacher/login" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-white bg-green-700 rounded-lg hover:bg-green-800 focus:ring-4 focus:ring-green-300 dark:focus:ring-green-900">
                    Enter Teacher Portal
                </a>
            {% endif %}
        </div>
        <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
            <img src="{{ url_for('static', filename='img/logo.png') }}" alt="School Logo">
        </div>                
    </div>
</section>
{% endblock %}
