{% extends "layout.html" %}

{% block title %}
    Edit Profile
{% endblock %}

{% block main %}
<h2 class="text-2xl font-bold mb-6 text-center py-2 text-blue-500">Edit Your Profile</h2>
    <form method="POST" enctype="multipart/form-data" class="space-y-6">
        <div class="form-group flex justify-between items-center mx-auto max-w-2xl">
            <label for="hometown" class="w-1/4">Hometown:</label>
            <div class="w-2/3">
                <div id="hometown-text" class="form-text">{{ profile.hometown }}</div>
                <input type="text" id="hometown-input" name="hometown" value="{{ profile.hometown }}" class="form-input hidden w-full custom-input">
            </div>
            <a href="#" id="hometown-edit" class="text-blue-500" onclick="editField('hometown')">Edit</a>
            <button type="button" id="hometown-cancel" class="btn btn-outline bg-beige text-red-500 hidden" onclick="cancelEdit('hometown')">Cancel</button>
        </div>
        <div class="form-group flex justify-between items-center mx-auto max-w-2xl">
            <label for="goal" class="w-1/4">Goal:</label>
            <div class="w-2/3">
                <div id="goal-text" class="form-text">{{ profile.goal }}</div>
                <textarea id="goal-input" name="goal" class="form-input hidden w-full custom-input" maxlength="1000">{{ profile.goal }}</textarea>
            </div>
            <a href="#" id="goal-edit" class="text-blue-500" onclick="editField('goal')">Edit</a>
            <button type="button" id="goal-cancel" class="btn btn-outline bg-beige text-red-500 hidden" onclick="cancelEdit('goal')">Cancel</button>
        </div>
        
        <div class="form-group flex justify-between items-center mx-auto max-w-2xl">
            <label for="hobbies" class="w-1/4">Hobbies:</label>
            <div class="w-2/3">
                <div id="hobbies-text" class="form-text">{{ profile.hobbies }}</div>
                <textarea id="hobbies-input" name="hobbies" class="form-input hidden w-full custom-input" maxlength="1000">{{ profile.hobbies }}</textarea>
            </div>
            <a href="#" id="hobbies-edit" class="text-blue-500" onclick="editField('hobbies')">Edit</a>
            <button type="button" id="hobbies-cancel" class="btn btn-outline bg-beige text-red-500 hidden" onclick="cancelEdit('hobbies')">Cancel</button>
        </div>
        
        <div class="form-group flex justify-between items-center mx-auto max-w-2xl">
            <label for="correction_style" class="w-1/4">Correction Style:</label>
            <div class="w-2/3">
                <div id="correction_style-text" class="form-text">{{ profile.correction_style }}</div>
                <textarea id="correction_style-input" name="correction_style" class="form-input hidden w-full custom-input" maxlength="1000">{{ profile.correction_style }}</textarea>
            </div>
            <a href="#" id="correction_style-edit" class="text-blue-500" onclick="editField('correction_style')">Edit</a>
            <button type="button" id="correction_style-cancel" class="btn btn-outline bg-beige text-red-500 hidden" onclick="cancelEdit('correction_style')">Cancel</button>
        </div>
        
        <div class="form-group flex justify-between items-center mx-auto max-w-2xl">
            <label for="english_weakness" class="w-1/4">English Weakness:</label>
            <div class="w-2/3">
                <div id="english_weakness-text" class="form-text">{{ profile.english_weakness }}</div>
                <textarea id="english_weakness-input" name="english_weakness" class="form-input hidden w-full custom-input" maxlength="1000">{{ profile.english_weakness }}</textarea>
            </div>
            <a href="#" id="english_weakness-edit" class="text-blue-500" onclick="editField('english_weakness')">Edit</a>
            <button type="button" id="english_weakness-cancel" class="btn btn-outline bg-beige text-red-500 hidden" onclick="cancelEdit('english_weakness')">Cancel</button>
        </div>
        <div class="form-group flex justify-between items-center mx-auto max-w-2xl">
            <label for="image_file" class="w-1/4">Profile Image:</label>
            <img id="image_file-text" src="{{ url_for('static', filename='img/studentImg/' + profile.image_file) }}" class="form-text w-2/3">            
            <a href="#" id="image_file-edit" class="text-blue-500 mr-2" onclick="editField('image_file')">Edit</a>
            <input type="file" id="image_file-input" name="image_file" class="form-input hidden w-2/3">
            <button type="button" id="image_file-cancel" class="btn btn-outline bg-white text-red-500 hidden" onclick="cancelEdit('image_file')">Cancel</button>
        </div>
        <div class="form-group mx-auto max-w-2xl text-center">
            <input type="submit" value="Update Profile" class="btn btn-primary py-2 px-4 bg-blue-500 text-white" id="update-profile-button" style="display: none;">
        </div>
    </form>
    <script>
        function editField(fieldName) {
            document.getElementById(fieldName + '-text').classList.add('hidden');
            document.getElementById(fieldName + '-cancel').classList.remove('hidden');
            document.getElementById(fieldName + '-edit').classList.add('hidden');
            if (fieldName === 'image_file') {
                document.getElementById(fieldName + '-input').classList.remove('hidden');
            } else {
                document.getElementById(fieldName + '-input').value = document.getElementById(fieldName + '-text').innerText;
                document.getElementById(fieldName + '-input').classList.remove('hidden');
            }
            // Show the 'Update Profile' button
            document.getElementById('update-profile-button').style.display = 'inline-block';
        }
        
        function cancelEdit(fieldName) {
            document.getElementById(fieldName + '-text').classList.remove('hidden');
            document.getElementById(fieldName + '-input').classList.add('hidden');
            document.getElementById(fieldName + '-cancel').classList.add('hidden');
            document.getElementById(fieldName + '-edit').classList.remove('hidden');
            // Hide the 'Update Profile' button if no other fields are being edited
            var editButtons = document.querySelectorAll('.btn-outline:not([style*="display: none"])');
            if (editButtons.length === 1) { // only the current cancel button is visible
                document.getElementById('update-profile-button').style.display = 'none';
            }
        }
    </script>
{% endblock %}