{% extends "layout.html" %}

{% block title %}
    Our Lessons
{% endblock %}

{% block main %}
<section class="bg-white dark:bg-gray-900 flex-grow flex items-center justify-center min-h-screen">
    <div class="max-w-screen-xl mx-auto text-center py-12 px-4">
        <h1 class="text-5xl font-extrabold leading-none tracking-tight md:text-7xl xl:text-8xl dark:text-white mb-8">Our Lessons</h1>
        <p class="text-lg text-gray-500 dark:text-gray-400 mb-12">Discover the benefits of our personalized one-on-one lessons designed to meet your individual goals and objectives.</p>
        
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-12 mb-16">
            <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col justify-between p-8 hover:bg-gray-100 dark:hover:bg-gray-700 transition duration-300">
                <div class="w-full h-60 mb-4 overflow-hidden rounded-lg">
                    <img src="{{ url_for('static', filename='img/easy_booking.jpg') }}" alt="Strengths and Weaknesses Image" class="w-full h-full object-cover">
                </div>
                <div>
                    <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-2">Easy Booking System</h2>
                    <p class="text-gray-700 dark:text-gray-400">Just look for a teacher, find a slot, and you're ready to go!</p>
                </div>
            </div>
            <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col justify-between p-8 hover:bg-gray-100 dark:hover:bg-gray-700 transition duration-300">
                <div class="w-full h-60 mb-4 overflow-hidden rounded-lg">
                    <img src="{{ url_for('static', filename='img/easy_review.jpg') }}" alt="Lesson Review Image" class="w-full h-full object-cover">
                </div>
                <div>
                    <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-2">Review Your Lessons</h2>
                    <p class="text-gray-700 dark:text-gray-400">Post-lesson you'll have a record giving you advice on how you can improve, and review the vocabulary and English expressions you learn in the lesson.</p>
                </div>
            </div>
            <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col justify-between p-8 hover:bg-gray-100 dark:hover:bg-gray-700 transition duration-300">
                <div class="w-full h-60 mb-4 overflow-hidden rounded-lg">
                    <img src="{{ url_for('static', filename='img/meet_goals.jpg') }}" alt="Customized Lessons Image" class="w-full h-full object-cover">
                </div>
                <div>
                    <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-2">Customized to Meet Individual Goals</h2>
                    <p class="text-gray-700 dark:text-gray-400">Teachers will customize lessons for your needs.  Whether you want to improve conversation skills, communication, or practice specific situations and scenarios, we'll do our best to meet your needs.</p>
                </div>
            </div>
            <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 flex flex-col justify-between p-8 hover:bg-gray-100 dark:hover:bg-gray-700 transition duration-300">
                <div class="w-full h-60 mb-4 overflow-hidden rounded-lg">
                    <img src="{{ url_for('static', filename='img/your_pace.jpg') }}" alt="Lesson Pace Image" class="w-full h-full object-cover">
                </div>
                <div>
                    <h2 class="text-3xl font-bold text-gray-900 dark:text-white mb-2">Lessons at a Pace That Suits Everyone</h2>
                    <p class="text-gray-700 dark:text-gray-400">Proceed at your own pace. You can focus on what you want to learn: our teachers are always happy to help!</p>
                </div>
            </div>
        </div>
        
        
        <h2 class="text-4xl font-bold text-gray-900 dark:text-white mb-8">Future Possibilities</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mb-16">
            <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-6 hover:bg-gray-100 dark:hover:bg-gray-700 transition duration-300">
                <div class="w-full h-40 mb-4 overflow-hidden rounded-lg">
                    <img src="{{ url_for('static', filename='img/chatbot.jpg') }}" alt="ChatBot Image" class="w-full h-full object-cover">
                </div>
                <h3 class="text-2xl font-bold text-gray-900 dark:text-white mb-2">ChatBot</h3>
                <p class="text-gray-700 dark:text-gray-400">A chatbot will be set up specifically to help students outside of lesson times.</p>
            </div>
            <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-6 hover:bg-gray-100 dark:hover:bg-gray-700 transition duration-300">
                <div class="w-full h-40 mb-4 overflow-hidden rounded-lg">
                    <img src="{{ url_for('static', filename='img/anki_review.jpg') }}" alt="Flashcard System Image" class="w-full h-full object-cover">
                </div>
                <h3 class="text-2xl font-bold text-gray-900 dark:text-white mb-2">Flashcard System</h3>
                <p class="text-gray-700 dark:text-gray-400">Lesson records will link with Anki to allow the 'new_words' and 'new_phrases' to be automatically added with a translation for practice at home.</p>
            </div>
            <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-6 hover:bg-gray-100 dark:hover:bg-gray-700 transition duration-300">
                <div class="w-full h-40 mb-4 overflow-hidden rounded-lg">
                    <img src="{{ url_for('static', filename='img/language_support.jpeg') }}" alt="Multi-Language Support Image" class="w-full h-full object-cover">
                </div>
                <h3 class="text-2xl font-bold text-gray-900 dark:text-white mb-2">Multi-Language Support</h3>
                <p class="text-gray-700 dark:text-gray-400">Add support for other languages: French, Spanish, and Italian are regularly taught in Japan.</p>
            </div>
            <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-6 hover:bg-gray-100 dark:hover:bg-gray-700 transition duration-300">
                <div class="w-full h-40 mb-4 overflow-hidden rounded-lg">
                    <img src="{{ url_for('static', filename='img/mobile_app.jpeg') }}" alt="Mobile App Image" class="w-full h-full object-cover">
                </div>
                <h3 class="text-2xl font-bold text-gray-900 dark:text-white mb-2">Mobile App</h3>
                <p class="text-gray-700 dark:text-gray-400">Using Electron, develop a mobile app version of the platform for easier access on mobile devices.</p>
            </div>
            <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-6 hover:bg-gray-100 dark:hover:bg-gray-700 transition duration-300">
                <div class="w-full h-40 mb-4 overflow-hidden rounded-lg">
                    <img src="{{ url_for('static', filename='img/video_lesson.jpeg') }}" alt="Video Lesson Integration Image" class="w-full h-full object-cover">
                </div>
                <h3 class="text-2xl font-bold text-gray-900 dark:text-white mb-2">Video Lesson Integration</h3>
                <p class="text-gray-700 dark:text-gray-400">Integrate with video conferencing tools like Zoom or Google Meet to facilitate online lessons.</p>
            </div>
            <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-6 hover:bg-gray-100 dark:hover:bg-gray-700 transition duration-300">
                <div class="w-full h-40 mb-4 overflow-hidden rounded-lg">
                    <img src="{{ url_for('static', filename='img/pronunciation.jpeg') }}" alt="Payment System Image" class="w-full h-full object-cover">
                </div>
                <h3 class="text-2xl font-bold text-gray-900 dark:text-white mb-2">Pronunciation Helper</h3>
                <p class="text-gray-700 dark:text-gray-400">Practice words you find difficult to pronounce with an AI helper that will help you master speaking clearly!</p>
            </div>
        </div>
        <div class="text-sm text-gray-600 dark:text-gray-400">
            <p>Photos by <a href="https://unsplash.com/@philreid?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" class="text-blue-500 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300">Phil Reid</a> on <a href="https://unsplash.com/photos/brown-and-black-snail-on-brown-soil-8SOKE7NqDrU?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" class="text-blue-500 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300">Unsplash</a></p>
            <p>Photo by <a href="https://unsplash.com/@zanardi?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" class="text-blue-500 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300">Everyday basics</a> on <a href="https://unsplash.com/photos/blue-and-white-lego-blocks-pi9W2dWDdak?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" class="text-blue-500 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300">Unsplash</a></p>
            <p>Photo by <a href="https://unsplash.com/@lajaxx?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" class="text-blue-500 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300">JACQUELINE BRANDWAYN</a> on <a href="https://unsplash.com/photos/happy-birthday-greeting-card-lot-S8MSj5VzHxQ?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" class="text-blue-500 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300">Unsplash</a></p>
            <p>Photo by <a href="https://unsplash.com/@mr_fresh?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" class="text-blue-500 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300">Yura Fresh</a> on <a href="https://unsplash.com/photos/person-holding-space-gray-iphone-x-n31x0hhnzOs?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" class="text-blue-500 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300">Unsplash</a></p>
            <p>Photo by <a href="https://unsplash.com/@linkedinsalesnavigator?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" class="text-blue-500 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300">LinkedIn Sales Solutions</a> on <a href="https://unsplash.com/photos/man-in-black-sweater-using-macbook-pro-Be5aVKFv9ho?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash" class="text-blue-500 hover:text-blue-700 dark:text-blue-400 dark:hover:text-blue-300">Unsplash</a></p>
        </div>
    </div>
</section>
{% endblock %}
