{% extends "layout.html" %}

{% block title %}
    Teacher Dashboard
{% endblock %}

{% block main %}
<section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16">
        <h1 class="text-3xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white mb-8">
            Welcome, {{ session['user_name'] }}!
        </h1>
        <p class="max-w-2xl mb-6 text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">Here you can manage your lessons and interact with your students.</p>
        {% if profile.image_file %}
            <img src="{{ url_for('static', filename='img/teacherImg/' + profile.image_file) }}" alt="Profile Image" class="form-text w-2/3">
        {% endif %}
        <a href="{{ url_for('teacher_lesson_records') }}">
            <button class="mt-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700 dark:bg-blue-600 dark:hover:bg-blue-500">View Recent Lesson Records</button>
        </a>
    </div>
</section>
{% endblock %}