{% extends "layout.html" %}

{% block title %}
    Student Profile
{% endblock %}

{% block main %}
<section class="bg-white dark:bg-gray-900">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:py-16">
        <h1 class="text-3xl font-extrabold leading-none tracking-tight md:text-5xl xl:text-6xl dark:text-white mb-8">Student Profile for {{ student.username }}</h1>
        <form method="POST" enctype="multipart/form-data" class="space-y-6">
            {{ form.hidden_tag() }}
            <div class="bg-white dark:bg-gray-800 shadow rounded-lg p-6">
                <div class="flex items-center space-x-4">
                    {% if student.profile and student.profile.image_file %}
                        <img class="w-20 h-20 rounded-full" src="{{ url_for('static', filename='img/studentImg/' + student.profile.image_file) }}" alt="Student's profile picture">
                    {% else %}
                        <img class="w-20 h-20 rounded-full" src="{{ url_for('static', filename='img/studentImg/default1.png') }}" alt="Default profile picture">
                    {% endif %}
                    <div>
                        <h2 class="text-lg font-semibold text-gray-900 dark:text-gray-100">{{ student.username }}</h2>
                    </div>
                </div>
                <div class="mt-6 space-y-4">
                    <!-- Hometown field -->
                    <div class="flex items-center justify-between mb-4">
                        {{ form.hometown.label(class="w-1/4 text-gray-900 dark:text-gray-100") }}
                        <div class="w-2/3">
                            <div id="hometown-text" class="form-text text-gray-900 dark:text-gray-100">{{ student.profile.hometown if student.profile else 'N/A' }}</div>
                            {{ form.hometown(class="form-input hidden w-full custom-input") }}
                            {% if form.hometown.errors %}
                                <span class="text-red-500 text-sm">{{ form.hometown.errors[0] }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Goal field -->
                    <div class="flex items-center justify-between mb-4">
                        {{ form.goal.label(class="w-1/4 text-gray-900 dark:text-gray-100") }}
                        <div class="w-2/3">
                            <div id="goal-text" class="form-text text-gray-900 dark:text-gray-100">{{ student.profile.goal if student.profile else 'N/A' }}</div>
                            {{ form.goal(class="form-input hidden w-full custom-input") }}
                            {% if form.goal.errors %}
                                <span class="text-red-500 text-sm">{{ form.goal.errors[0] }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Hobbies field -->
                    <div class="flex items-center justify-between mb-4">
                        {{ form.hobbies.label(class="w-1/4 text-gray-900 dark:text-gray-100") }}
                        <div class="w-2/3">
                            <div id="hobbies-text" class="form-text text-gray-900 dark:text-gray-100">{{ student.profile.hobbies if student.profile else 'N/A' }}</div>
                            {{ form.hobbies(class="form-input hidden w-full custom-input") }}
                            {% if form.hobbies.errors %}
                                <span class="text-red-500 text-sm">{{ form.hobbies.errors[0] }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Correction Style field -->
                    <div class="flex items-center justify-between mb-4">
                        {{ form.correction_style.label(class="w-1/4 text-gray-900 dark:text-gray-100") }}
                        <div class="w-2/3">
                            <div id="correction_style-text" class="form-text text-gray-900 dark:text-gray-100">{{ student.profile.correction_style if student.profile else 'N/A' }}</div>
                            {{ form.correction_style(class="form-input hidden w-full custom-input") }}
                            {% if form.correction_style.errors %}
                                <span class="text-red-500 text-sm">{{ form.correction_style.errors[0] }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <!-- English Weakness field -->
                    <div class="flex items-center justify-between mb-4">
                        {{ form.english_weakness.label(class="w-1/4 text-gray-900 dark:text-gray-100") }}
                        <div class="w-2/3">
                            <div id="english_weakness-text" class="form-text text-gray-900 dark:text-gray-100">{{ student.profile.english_weakness if student.profile else 'N/A' }}</div>
                            {{ form.english_weakness(class="form-input hidden w-full custom-input") }}
                            {% if form.english_weakness.errors %}
                                <span class="text-red-500 text-sm">{{ form.english_weakness.errors[0] }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" id="edit-button" class="btn btn-primary py-2 px-4 bg-blue-500 text-white rounded-lg" onclick="editAllFields()">Edit</button>
                    <button type="button" id="cancel-button" class="btn btn-outline bg-red-500 text-white hidden py-2 px-4 rounded-lg" onclick="cancelEditAllFields()">Cancel</button>
                    {{ form.submit(class="btn btn-primary py-2 px-4 bg-blue-500 text-white hidden rounded-lg", id="update-profile-button") }}
                </div>
            </div>
        </form>
    </div>
</section>

<script>
    function editAllFields() {
        const fields = ['hometown', 'goal', 'hobbies', 'correction_style', 'english_weakness'];
        fields.forEach(field => {
            document.getElementById(`${field}-text`).classList.add('hidden');
            document.querySelector(`[name=${field}]`).classList.remove('hidden');
        });
        document.getElementById('edit-button').classList.add('hidden');
        document.getElementById('cancel-button').classList.remove('hidden');
        document.getElementById('update-profile-button').classList.remove('hidden');
    }

    function cancelEditAllFields() {
        const fields = ['hometown', 'goal', 'hobbies', 'correction_style', 'english_weakness'];
        fields.forEach(field => {
            document.getElementById(`${field}-text`).classList.remove('hidden');
            document.querySelector(`[name=${field}]`).classList.add('hidden');
        });
        document.getElementById('edit-button').classList.remove('hidden');
        document.getElementById('cancel-button').classList.add('hidden');
        document.getElementById('update-profile-button').classList.add('hidden');
    }
</script>
{% endblock %}
